name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: auto_env
          environment-file: environment.yml
          auto-update-conda: true
          channels: conda-forge
          use-mamba: true

      - uses: actions/cache@v3
        with:
          path: |
            ~/.conda/pkgs
            ~/.cache/pip
          key: ${{ runner.os }}-conda-${{ hashFiles('environment.yml') }}

      - name: Show environment info
        run: |
          conda info
          conda list

      - name: Run tests
        run: |
          pytest -q || echo "нет тестов или упали — пропускаю"

